body {
    background-image: url("/images/blu.jpg");
    background-color: #cccccc;
}

.title {
    border-style: solid;
  
    border-style: solid;
   
    color: white;
}

.font {
    font-family: 'Kolker Brush', cursive;
}


.h1 {
    font-family: 'Island Moments', cursive
}
